body {
  /* background-color: #140005; */
  background: #140005 url(https://grainy-gradients.vercel.app/noise.svg);
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Bebas Neue', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
}

.App {
  text-align: center;
}

.mastercontainer {
  display: flex;
}

.navcontainer {
  /* background-color: blanchedalmond; */
  width: 90px;
}

.navMenu {
  background-color: #C44B4F;
  ;
  border-radius: 30px;
  width: 77px;
  height: 230px;
  padding-top: 18px;
  margin-top: 11%;
  margin-left: 2%;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}

.navMenu:hover {
  background-color: rgba(192, 192, 192, 0.514);
  border-radius: 30px;
  width: 77px;
  height: 230px;
  padding-top: 18px;
  margin-top: 11%;
  margin-left: 2%;
  line-height: 20px;
  color: #BBC4C2;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
}

.indItem {}

.indItem:hover {
  color: #C44B4F;
  font-size: 17px;
}

.nameContainer {
  display: flex;
}

.nameTxt {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #C44B4F;
  text-shadow: 4px 9px 8px #3f4f53;
  font-size: 77px;
  letter-spacing:5px;
  /* align-self: start; */
  align-items: start;
  margin-top: -400px;
  animation: txtBkg linear 4s infinite;
}


@keyframes txtBkg{
  0%{
  }
  89%{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #C44B4F;
    text-shadow: 4px 9px 8px #000000;
    font-size: 77px;
    letter-spacing:5px;
    /* align-self: start; */
    align-items: start;
    margin-top: -400px;
    animation: txtBkg ease-in-out 4s infinite;
  }
  96%{
   opacity:.4;
  } 
  100%{
    text-shadow: none;
    background-image: url(https://thumbs.gfycat.com/WellwornUnhappyGalapagosalbatross-max-1mb.gif);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-size:contain;
    color: transparent;
    text-transform: uppercase;
    opacity:.2;
    filter: contrast(.5);
    filter: brightness(.4);
    filter: grayscale(70%);
    /* letter-spacing: 55px; */
    word-wrap:break-word;
    /* filter: hue-rotate(-0.21turn); */
  }
}

.nameTxt:hover {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #C44B4F;
  text-shadow: 4px 9px 8px #a33f3f;
  font-size: 77px;
  letter-spacing:5px;
  /* align-self: start; */
  align-items: start;
  margin-top: -400px;
  background-image: url(https://f8n-production-collection-assets.imgix.net/0xF0C637798820EC54A3021386f5F9eE6927018009/1/nft.gif?q=80&auto=compress&cs=srgb&w=3000&h=3000&fit=max);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
  text-transform: uppercase;
  opacity:.7;
  filter: contrast(.8);
  filter: brightness(1.8);
  filter: hue-rotate(0.01turn);
}



#cubeLogo{
  height:240px;
  margin-top: 79px;
  filter: drop-shadow(3px 8px 6px #140808);
  animation: logoSpin 3.8s linear infinite;
}


@keyframes logoSpin{
0%{
animation-timing-function: ease-in;
/* scale:.8; */
filter: brightness(.7);

filter: drop-shadow(1px 40px 10px #140808);
}
27%{
  opacity:.7;
  filter: contrast(.8);
  filter: brightness(.7);
  filter: hue-rotate(0.01turn);
  transition: .8s;
  /* scale:.7; */
    filter: grayscale(30%);

  filter: drop-shadow(1px 20px 6px #140808);
}
40%{
  filter: grayscale(30%);
  scale:1.3;
  transform: translate3d(30px);
  filter: drop-shadow(1px 40px 10px #140808);
}
65%{
 
  filter: contrast(.4);
  filter: brightness(.8);
  transform: translate3d(-250deg);
  filter: drop-shadow(1px 40px 10px #140808);

  
}
76%{
  filter: brightness(.6);
  filter: drop-shadow(1px 40px 10px #140808);
  /* filter: brightness(.7); */

}
99%{
  filter: contrast(.4);
  filter: brightness(.7);
  transform: translate3d(-250deg);
  filter: drop-shadow(1px 40px 10px #140808);
  scale:1;
}
100%{
  scale:1;
  filter: grayscale(50%);
  filter: brightness(.7);
opacity:.9;
  animation-timing-function: ease-out;
  filter: drop-shadow(1px 10px 4px #140808);

}
}

.projects{
  margin-left:-5%;
}
#boxLogo{
  margin-top:13px;
  height:60px;
  align-self:start;
  justify-content:start;
  margin-left:-1460px;
  border-radius:10px;
  box-shadow: 3px 2px 2px 4px #1f2729;
  opacity:.8;
}

#boxLogo:hover{
  margin-top:13px;
  height:63px;
  align-self:start;
  justify-content:start;
  margin-left:-1460px;
  border-radius:10px;
  box-shadow: 1px 2px 2px 5.4px #be3333;
  opacity: .54;
}