body {
  /* background-color: #140005; */
  background: #140005 url(https://grainy-gradients.vercel.app/noise.svg);
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Bebas Neue', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
}

.App {
  text-align: center;
  

}

/* .leftColumn{
width:1300px;
}
.rightColumn{
  width:50px;
  height:640px;
} */

.mastercontainer {
  display: flex;
}

.navcontainer {
  /* background-color: blanchedalmond; */
  width: 90px;
  z-index:2;
}

.navMenu {
  background-color: #C44B4F;
  ;
  opacity:.7;
  border-radius: 30px;
  width: 77px;
  height: 230px;
  padding-top: 18px;
  margin-top: 11%;
  margin-left: 2%;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  /* position:fixed; */
z-index:2;
animation: bouncer 1.8s linear forwards;
animation-delay: 0ms;
}

@keyframes bouncer{
  0%, 20%{
    transform: translateY(-300px);
    opacity:0;
  }

  40%{
    transform: translateY(-160px);
  opacity:1;
  }
  50%{
    transform: translateY(45px);
    background-color: #772628;
    ;

  }
  54%{
    transform: rotateZ(-4deg);
  }
  56%{
    transform: rotateZ(2deg);

  }
  58%{
    transform: rotateZ(-5deg);

  }
  59%{
    transform: rotateZ(3deg);

  }
  60%{
    transform: translateY(-15px);
  }
  65%{
    transform: translateY(7px);

  }
  67%{
    transform: translateY(-27px);

  }
  69%{
    transform: translateY(9px);

  }
  73%{
    transform: translateY(-19px);

  }
  75%{
    transform: translateY(4px);

  }
  78%{
    transform: translateY(-2px);

  }
  80%{

  }
  100%{
    transform: translateY(0px);

  }
}


.navMenuCopy {
  background-color: #C44B4F;
  ;
  border-radius: 30px;
  width: 77px;
  height: 230px;
  /* padding-top: 18px; */
  margin-top: -12%;
  margin-left: 2%;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  /* position:fixed; */
  z-index:2;
animation:menuDive 1s linear infinite;
}

@keyframes menuDive{

  0%{
    opacity:0;

    transform:translatey(-300px);
  }

  50%{
    opacity:0;
    width:120%;
    color:#C44B4F ;
    margin-right:-50px;
    /* height:80%; */
  }

  63%{
    /* opacity:.1 1s; */
    /* color:aqua ; */
  }
65%{
  /* width:5%; */
  /* height:80%; */
}
  69%{
    /* opacity:.6; */
  }

  70%{
    transform: rotatez(120deg);
    width:80%;
    opacity:.4;
  }
  80%{
    background-color:#d33c41;
    transition:.6s;
  }
88%{
  opacity:.5;
  transform: rotatez(160deg);
    width:120%;
    box-shadow: 0px 0px 0px 0px ;
}
93%{
  transform: rotatez(200deg);
}
  97%{
transform: scale(.7) 5s;
transform: rotatez(-10deg) 6s;
/* opacity:.5; */
  }

  100%{
    transform: rotatez(360deg);
    color:#8f3d3f;
    opacity:0;
    background-color:#C44B4F;
    transform:translatey(-150px);
    margin-top:-14;
    /* width:120%; */
  }
}

.navMenuCopy2 {
  background-color: #C44B4F;
  ;
  border-radius: 30px;
  width: 77px;
  height: 230px;
  padding-top: 0px;
  margin-top: -10%;
  margin-left: 2%;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  /* position:fixed; */
  z-index:2;
animation:menuDive2 1s linear infinite;
}

@keyframes menuDive2{

  0%{
    opacity:0;

    transform:translatey(-800px);
  }

  50%{
    width:120%;
    color:#C44B4F ;
    margin-right:-50px;
  }

  63%{
    opacity:0;
    /* opacity:.1 1s; */
    /* color:aqua ; */
  }
65%{
  /* width:5%; */
  /* height:80%; */
}
  69%{
    /* opacity:.6; */
  }

  70%{
    transform: rotatez(120deg);
    width:80%;
    opacity:.4;
  }
  80%{
    background-color:#d33c41;
    transition:.6s;
  }
88%{
  opacity:.5;
  transform: rotatez(160deg);
    width:120%;
    box-shadow: 0px 0px 0px 0px ;
}
93%{
  transform: rotatez(200deg);
}
  97%{
transform: scale(.7) 5s;
transform: rotatez(-10deg) 6s;
/* opacity:.5; */
  }

  100%{
    transform: rotatez(360deg);
    color:#8f3d3f;
    opacity:0;
    background-color:#C44B4F;
    /* width:120%; */
    margin-top:-14;
  }
}
.navMenuCopy3 {
  background-color: #C44B4F;
  ;
  border-radius: 30px;
  width: 77px;
  height: 230px;
  padding-top: 18px;
  margin-top: -11%;
  margin-left: 2%;
  /* line-height: 22px; */
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  /* position:fixed; */
  z-index:0;
animation:menuDive3 1s linear infinite;
}

@keyframes menuDive3{

  0%{
   

    transform:translatey(-1200px);
  }

  50%{
    
    width:120%;
    color:#C44B4F ;
    margin-right:-50px;
  }

  63%{
    /* opacity:.1 1s; */
    /* color:aqua ; */
  }
65%{
  /* width:5%; */
  /* height:80%; */
}
  69%{
    /* opacity:.6; */
  }

  70%{
    transform: rotatez(120deg);
    width:80%;
    opacity:.4;
  }
  80%{
    background-color:#d33c41;
    transition:.6s;
    opacity:0;
  }
88%{
  opacity:.5;
  transform: rotatez(160deg);
    width:120%;
    box-shadow: 0px 0px 0px 0px ;
}
93%{
  transform: rotatez(200deg);
}
  97%{
transform: scale(.7) 5s;
transform: rotatez(-10deg) 6s;
/* opacity:.5; */
  }

  100%{
    transform: rotatez(360deg);
    color:#8f3d3f;
    opacity:0;
    background-color:#C44B4F;
    /* width:120%; */
    margin-top:-14;
  }
}

.navMenu:hover {
  background-color: rgba(192, 192, 192, 0.514);
  border-radius: 30px;
  width: 77px;
  height: 230px;
  padding-top: 18px;
  margin-top: 11%;
  margin-left: 2%;
  line-height: 20px;
  color: #BBC4C2;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  transition:1.4s;
}

.indItem {
  color: #ffffff;
}

.indItem:hover {
  color: #C44B4F;
  font-size: 17px;
}


.nameContainer {
  display: flex;
  /* position: relative; */
}

.nameTxt {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #C44B4F;
  text-shadow: 4px 9px 8px #3f4f53;
  font-size: 102px;
  letter-spacing:5px;
  /* align-self: start; */
  align-items: start;
  margin-top: -370px;
  animation: txtBkg linear 6s infinite;
}


@keyframes txtBkg{
  0%{
  }
  70%{
    filter: grayscale(70%);

  }
  89%{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #C44B4F;
    text-shadow: 4px 9px 8px #000000;
    font-size: 102px;
    letter-spacing:5px;
    /* align-self: start; */
    align-items: start;
    /* margin-top: -400px; */
    animation: txtBkg ease-in-out 4s infinite;
  }
  96%{
   opacity:.4;
  } 
  100%{
    text-shadow: none;
    background-image: url(https://i.pinimg.com/originals/b7/9a/f5/b79af5850ce890e052487cc88ab91251.gif);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-size:contain;
    color: transparent;
    text-transform: uppercase;
    opacity:.2;
    filter: contrast(.5);
    filter: brightness(.4);
    /* filter: grayscale(70%); */
    /* letter-spacing: 55px; */
    word-wrap:break-word;
    /* filter: hue-rotate(-0.21turn); */
  }
}

.nameTxt:hover {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #c44b4f13;
  /* text-shadow: 4px 9px 8px #a33f3f; */
  text-shadow:none;
  font-size: 102px;
  letter-spacing:7px;
  /* align-self: start; */
  align-items: start;
  /* margin-top: -400px; */
  background-image: url(https://i.gifer.com/FpO7.gif);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  /* color: transparent; */
  text-transform: uppercase;
  opacity:.7;
  filter: contrast(.8);
  filter: brightness(1.8);
  filter: hue-rotate(0.01turn);
  cursor: pointer;
  /* animation-play-state: paused; */
}



#cubeLogo{
  height:270px;
  /* width:15%; */
  margin-top: 79px;
  filter: drop-shadow(3px 8px 6px #140808);
  animation: logoSpin 3.8s linear infinite;
}


@keyframes logoSpin{
0%{
animation-timing-function: ease-in;
/* scale:.8; */
filter: brightness(.7);

filter: drop-shadow(1px 10px 10px #140808);
}
27%{
  opacity:.7;
  filter: contrast(.8);
  filter: brightness(.7);
  filter: hue-rotate(0.01turn);
  transition: .8s;
  /* scale:.7; */
    filter: grayscale(30%);

  filter: drop-shadow(1px 20px 6px #140808);
}
39%{
  opacity:.9;
}
40%{
  filter: grayscale(30%);
  scale:1.3;
  transform: translate3d(30px);
  filter: drop-shadow(1px 40px 10px #140808);
  content: url("https://i.ibb.co/LCvXSHK/Cube-TWO-cut-COLOR-CORRECTED.png");

}

65%{
  
  filter: contrast(.4);
  filter: brightness(.8);
  transform: translate3d(-250deg);
  filter: drop-shadow(1px 20px 10px #140808);

  
}
76%{
  filter: brightness(.6);
  filter: drop-shadow(1px 20px 10px #140808);
  /* filter: brightness(.7); */
}
99%{
  filter: contrast(.4);
  filter: brightness(.7);
  transform: translate3d(-250deg);
  filter: drop-shadow(1px 15px 10px #140808);
  scale:1;
}
100%{
  scale:1;
  filter: grayscale(50%);
  filter: brightness(.7);
opacity:.9;
  animation-timing-function: ease-out;
  filter: drop-shadow(1px 10px 4px #140808);

}
}

#cubeLogo:hover{
  height:270px;
  margin-top: 79px;
  filter: drop-shadow(3px 8px 6px #140808);
  animation: logoHover 1.3s linear infinite;
}

@keyframes logoHover{
  0%{
    scale:1.3;
    opacity: .6;
    transform: rotate3d(1, -1, 1, -10deg);
    animation-timing-function: .8s;

  } 
  
  
  30%{
    scale:1.3;
    opacity: .6;
    transform: rotate3d(3, -15, -11, -20deg);
    animation-timing-function: .5s;

  }
  
  100%{
  }
}

.animatedCube{
scale:.1;
animation: clicker .5s linear forwards;
}

@keyframes clicker{
  3% {scale: .1;
     transform: skewY(-15deg); }
  5% { transform: skewY(15deg); }
  10% { transform: skewY(-15deg); }
  15% { transform: skewY(15deg); }
  20% { transform: skewY(0deg); }
 100% { transform: skewY(0deg); }
}


.projects{
  margin-left:-5%;
}
#boxLogo{
  margin-top:13px;
  height:60px;
  align-self:start;
  justify-content:start;
  margin-left:-1460px;
  border-radius:10px;
  box-shadow: 3px 2px 2px 4px #1f2729;
  opacity:.8;

}

#boxLogo:hover{
  margin-top:13px;
  height:63px;
  align-self:start;
  justify-content:start;
  margin-left:-1460px;
  border-radius:10px;
  box-shadow: 1px 2px 2px 5.4px #be3333;
  opacity: .54;
}

.projects{
  /* background-color: white; */
  /* display:flex;
  position:absolute;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear; */
}

/* @keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
} */


.projectImg{
  width:30%;
}

.projectImg:hover{
  width:35%;
  box-shadow: 0px 8px 9px rgb(90, 26, 26);
  opacity:.5;
}

.resumeSection{
  display:block;
}

.resumeHeadTxt{
  font-family: 'Poppins', sans-serif;
  color:#1f2729;
  letter-spacing: 2px;
}

.hyperlinkResume{
color:white;
margin-bottom:8px;
}

.resumeBtn{
  margin-top:8px;
  border-radius:11px;
  height:38px;
  background-color: #8f2727;
  color:rgb(201, 185, 185);
  font-weight:800;
  letter-spacing: .8px;
  font-family:  'Orbitron', sans-serif;
  box-shadow: inset 0px 2px 4px rgb(58, 51, 51);
}

.resumeBtn:hover{
  background-color: #873F49;
  box-shadow: 0px 15px 20px rgb(58, 51, 51);
  color: #fff;
  transform: translateY(-1px);
}

.collage1{
  margin-top: 90%;
  margin-left:-27%;
  /* width:40%;
  height:40%; */
}

/* .collagenull{
  margin-top:140%;
  margin-left:40%;
  position:absolute;
  inset:0;
  right:1;
} */
/* 
.collageImg{
  margin-top: 10%;
  width:100%;
  opacity:.2;
  z-index: 0;
  perspective:800px;
  transform-style: preserve-3d;
}

.collage2{
  margin-top:240%;
  margin-left:40%;
  height:100%;
  position:absolute;
  inset:0;
  right:1;
} */

.collage2{
  margin-top:210%;
  /* position:fixed; */
  width:50%;
  opacity:1.6;
}

.collageImg{
  margin-top: 10%;
  width:100%;
  height:200%;
  opacity:.2;
  /* z-index: 0; */
  perspective:1600px;
  transform-style: preserve-3d;
  position:relative;
  z-index: 1;
}

.collageImg3{
  margin-top:190%;
  opacity:.4;
}

.collage4{
  margin-top:160%;
  margin-right:-120%;
}

/* .collage6{
  margin-top:100%;
  margin-right:10%;
} */

.hurricaneGif{
  margin-top: 900px;
}