body {
  /* background-color: #140005; */
  background: #140005 url(https://grainy-gradients.vercel.app/noise.svg);
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Bebas Neue', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
}

.App {
  text-align: center;
  

}

/* .leftColumn{
width:1300px;
}
.rightColumn{
  width:50px;
  height:640px;
} */

.mastercontainer {
  display: flex;
}

.navcontainer {
  /* background-color: blanchedalmond; */
  width: 90px;
  z-index:1;
}

.navMenu {
  background-color: #C44B4F;
  ;
  border-radius: 30px;
  width: 77px;
  height: 230px;
  padding-top: 18px;
  margin-top: 11%;
  margin-left: 2%;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  position:fixed;

}

.navMenu:hover {
  background-color: rgba(192, 192, 192, 0.514);
  border-radius: 30px;
  width: 77px;
  height: 230px;
  padding-top: 18px;
  margin-top: 11%;
  margin-left: 2%;
  line-height: 20px;
  color: #BBC4C2;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  transition:1.4s;
}

.indItem {
  color: #ffffff;
}

.indItem:hover {
  color: #C44B4F;
  font-size: 17px;
}


.nameContainer {
  display: flex;
  /* position: relative; */
}

.nameTxt {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #C44B4F;
  text-shadow: 4px 9px 8px #3f4f53;
  font-size: 102px;
  letter-spacing:5px;
  /* align-self: start; */
  align-items: start;
  margin-top: 40px;
  animation: txtBkg linear 6s infinite;
}


@keyframes txtBkg{
  0%{
  }
  70%{
    filter: grayscale(70%);

  }
  89%{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #C44B4F;
    text-shadow: 4px 9px 8px #000000;
    font-size: 102px;
    letter-spacing:5px;
    /* align-self: start; */
    align-items: start;
    /* margin-top: -400px; */
    animation: txtBkg ease-in-out 4s infinite;
  }
  96%{
   opacity:.4;
  } 
  100%{
    text-shadow: none;
    background-image: url(https://i.pinimg.com/originals/b7/9a/f5/b79af5850ce890e052487cc88ab91251.gif);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-size:contain;
    color: transparent;
    text-transform: uppercase;
    opacity:.2;
    filter: contrast(.5);
    filter: brightness(.4);
    /* filter: grayscale(70%); */
    /* letter-spacing: 55px; */
    word-wrap:break-word;
    /* filter: hue-rotate(-0.21turn); */
  }
}

.nameTxt:hover {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #C44B4F;
  /* text-shadow: 4px 9px 8px #a33f3f; */
  font-size: 102px;
  letter-spacing:5px;
  /* align-self: start; */
  align-items: start;
  /* margin-top: -400px; */
  background-image: url(https://i.pinimg.com/originals/95/07/a3/9507a36b18a9f708bbfab0db2f83a6c6.gif);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  /* color: transparent; */
  text-transform: uppercase;
  opacity:.7;
  filter: contrast(.8);
  filter: brightness(1.8);
  filter: hue-rotate(0.01turn);
  cursor: pointer;
  animation-play-state: paused;
}



#cubeLogo{
  height:270px;
  margin-top: 79px;
  filter: drop-shadow(3px 8px 6px #140808);
  animation: logoSpin 3.8s linear infinite;
}


@keyframes logoSpin{
0%{
animation-timing-function: ease-in;
/* scale:.8; */
filter: brightness(.7);

filter: drop-shadow(1px 10px 10px #140808);
}
27%{
  opacity:.7;
  filter: contrast(.8);
  filter: brightness(.7);
  filter: hue-rotate(0.01turn);
  transition: .8s;
  /* scale:.7; */
    filter: grayscale(30%);

  filter: drop-shadow(1px 20px 6px #140808);
}
39%{
  opacity:.9;
}
40%{
  filter: grayscale(30%);
  scale:1.3;
  transform: translate3d(30px);
  filter: drop-shadow(1px 40px 10px #140808);
  content: url("https://i.ibb.co/qrRw0Fd/Cube-TWO-cut1.png");

}

65%{
  
  filter: contrast(.4);
  filter: brightness(.8);
  transform: translate3d(-250deg);
  filter: drop-shadow(1px 20px 10px #140808);

  
}
76%{
  filter: brightness(.6);
  filter: drop-shadow(1px 20px 10px #140808);
  /* filter: brightness(.7); */
}
99%{
  filter: contrast(.4);
  filter: brightness(.7);
  transform: translate3d(-250deg);
  filter: drop-shadow(1px 15px 10px #140808);
  scale:1;
}
100%{
  scale:1;
  filter: grayscale(50%);
  filter: brightness(.7);
opacity:.9;
  animation-timing-function: ease-out;
  filter: drop-shadow(1px 10px 4px #140808);

}
}

#cubeLogo:hover{
  height:270px;
  margin-top: 79px;
  filter: drop-shadow(3px 8px 6px #140808);
  animation: logoHover 1.3s linear infinite;
}

@keyframes logoHover{
  0%{
    scale:1.3;
    opacity: .6;
    transform: rotate3d(1, -1, 1, -10deg);
    animation-timing-function: .8s;

  } 
  
  
  30%{
    scale:1.3;
    opacity: .6;
    transform: rotate3d(3, -15, -11, -20deg);
    animation-timing-function: .5s;

  }
  
  100%{
  }
}

.animatedCube{
scale:.1;
animation: clicker .5s linear forwards;
}

@keyframes clicker{
  3% {scale: .1;
     transform: skewY(-15deg); }
  5% { transform: skewY(15deg); }
  10% { transform: skewY(-15deg); }
  15% { transform: skewY(15deg); }
  20% { transform: skewY(0deg); }
 100% { transform: skewY(0deg); }
}


.projects{
  margin-left:-5%;
}
#boxLogo{
  margin-top:13px;
  height:60px;
  align-self:start;
  justify-content:start;
  margin-left:-1460px;
  border-radius:10px;
  box-shadow: 3px 2px 2px 4px #1f2729;
  opacity:.8;
}

#boxLogo:hover{
  margin-top:13px;
  height:63px;
  align-self:start;
  justify-content:start;
  margin-left:-1460px;
  border-radius:10px;
  box-shadow: 1px 2px 2px 5.4px #be3333;
  opacity: .54;
}

.projects{
  /* background-color: white; */
  
}

.projectImg{
  width:30%;
}

.projectImg:hover{
  width:25%;
  box-shadow: 0px 5px 8px rgb(163, 46, 46);
}

.resumeSection{
  display:block;
}

.resumeHeadTxt{
  font-family: 'Poppins', sans-serif;
  color:#1f2729;
  letter-spacing: 2px;
}

.hyperlinkResume{
color:white;
margin-bottom:8px;
}

.resumeBtn{
  margin-top:8px;
  border-radius:11px;
  height:38px;
  background-color: #8f2727;
  color:rgb(201, 185, 185);
  font-weight:800;
  letter-spacing: .8px;
  font-family:  'Orbitron', sans-serif;
  box-shadow: inset 0px 2px 4px rgb(58, 51, 51);
}

.resumeBtn:hover{
  background-color: #873F49;
  box-shadow: 0px 15px 20px rgb(58, 51, 51);
  color: #fff;
  transform: translateY(-1px);
}

.collageImg{
  margin-top: 10%;
  width:100%;
  opacity:.2;
  z-index: 0;
  /* box-shadow:-20px 2px 4px black; */
}

